@use 'sass:color';
@use 'sass:map';
@use 'palette' as palette;

.btn {
  border-radius: palette.$radius;
  padding: 4px 8px;

  transition-duration: 150ms;

  &.btn-square {
    padding: 4px;
    min-width: 24px;
    min-height: 24px;
  }

  @each $name, $color in palette.$colors {
    &.btn-#{$name} {
      $text-color: map.get(palette.$colors, 'surface-100') !default;
      $lightness: 5% !default;

      @if (str-index($string: $name, $substring: 'surface')) {
        $text-color: map.get(palette.$colors, 'text');
      }

      @if color.lightness($color) > 50% {
        $lightness: -5%;
      }

      background-color: $color;
      color: $text-color;

      &.btn-ghost {
        background-color: transparent;
        color: $color;

        &:hover {
          background-color: $color;
          color: $text-color;
        }

        &:active {
          background-color: adjust-color($color, $lightness: $lightness);
        }
      }

      &.btn-soft {
        background-color: rgba($color, 0.25);

        &:hover {
          background-color: rgba($color, 0.5);
        }

        &:active {
          background-color: rgba($color, 0.75);
        }
      }

      &:hover {
        background-color: color.adjust($color, $lightness: $lightness);
      }

      &:active {
        background-color: color.adjust($color, $lightness: $lightness);
      }
    }
  }

  &.btn-soft {
    background-color: rgba(#ffffff, 0.025);
    color: map.get(palette.$colors, 'text');

    &:hover {
      background: rgba(#ffffff, 0.05);
    }

    &:active {
      background: rgba(#ffffff, 0.1);
    }
  }

  &.btn-ghost {
    background-color: transparent;
    color: map.get(palette.$colors, 'text');

    &:hover {
      background-color: rgba(#ffffff, 0.05);
    }

    &:active {
      background-color: rgba(#ffffff, 0.1);
    }
  }
}
