$surface-100: #2c2c40;
$surface-200: #181825;
$primary: #cba6f7;
$secondary: #89b4fa;
$error: #f38ba8;
$warning: #fab387;
$success: #a6e3a1;
$text: #cdd6f4;

$radius: 16px;

$colors: (
  surface-100: $surface-100,
  surface-200: $surface-200,
  primary: $primary,
  secondary: $secondary,
  error: $error,
  warning: $warning,
  success: $success,
  text: $text,
);
