@import '/home/khoa/.config/colorScheme/style.scss';

* {
  all: unset;
}

window {
  background: transparent;
  color: @base05;

  font-family: 'JetBrains Mono';
  font-size: 14px;
}

button,
menuitem {
  background-color: transparent;

  padding: 4px 8px;
  border-radius: 4px;
}

menuitem {
  padding: 4px;
}

button:hover,
menuitem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

button:active,
menuitem:active {
  background-color: rgba(255, 255, 255, 0.2);
}

button.active {
  background-color: @base0E;
  color: @base00;
}

button.icon {
  padding: 0px;
  min-height: 28px;
  min-width: 28px;
}

scale trough,
scale trough highlight {
  background-color: @base00;

  min-height: 4px;
  border-radius: 2px;
}

scale trough highlight {
  background-color: @base0E;
}

menu {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid alpha(@base05, 0.25);

  border-radius: 4px;
  padding: 4px;
}

entry.card {
  background-color: @base00;
  border: 1px solid alpha(@base05, 0.25);

  padding: 8px;
  border-radius: 4px;
}

.card {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid alpha(@base05, 0.25);

  border-radius: 4px;
  padding: 4px;
}

.card.lg {
  padding: 4px 12px;
}

.card:hover {
  border: 1px solid @base0E;
}

.card.mpris {
  background: rgba(255, 255, 255, 0.1);
  border: none;

  padding: 8px;
}

.nerdfont {
  font-family: 'Symbols Nerd Font';
}

.img-cover {
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}

.img-icon {
  min-width: 16px;
  min-height: 16px;
  background-size: contain;
  background-position: center;
}
