@import "~/.config/colorScheme/style.rasi"

window, mainbox {
  background-color: transparent;
  color: var(base05);
}

mainbox {
  spacing: 8px;
}

inputbar, message, listview, mode-switcher {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: var(base02);
  color: var(base05);

  padding: 8px;
  border: 1px solid;
  border-radius: 4px;
}

element, btn {
  color: var(base05);

  padding: 4px;
  border-radius: 4px;
}

element-text { background-color: transparent; }

element normal.normal,
element alternate.normal,
btn {
  background-color: transparent;
  color: var(base05);
}

element selected.normal, btn.selected {
  background-color: var(base0E);
  color: var(base00);
}

