.sidebar__content {
  padding: 8px;
  min-width: 300px;
}

.system__label {
  font-weight: 600;
  font-size: 14px;
}

.system__notification {
  padding: 16px;
}

.system__notification__summary {
  font-size: 12px;
  font-weight: 600;
}

.system__notification__body {
  font-size: 12px;
}

.system__notification__action-btn {
  font-size: 12px;
}

.system__notification__close-btn {
  padding: 0px;
  min-width: 16px;
  min-height: 16px;
}

.system__qs__main {
  padding: 0 4px;
  min-width: 168px;
  min-height: 42px;
}

.system__qs__header {
  font-size: 12px;
  font-weight: bold;
}

.system__qs__subheader {
  font-size: 12px;
}
